<div class="container">
  <div class="container-login">
    <div class="container-login-active">
      <h1>Sign in to find flatmates</h1>
      <div>Or connect through google</div>
      <nav>
        <ul>
          <li><button><img src="../../assets/facebook.jpg"></button></li>
          <li><button><img src="../../assets/google.jpg"></button></li>
        </ul>
      </nav>
    </div>
    <div class="container-login-inactive">

    </div>
  </div>
  <div class="container-signup">
    <div class="conatiner-signup-active">

    </div>
    <div class="container-signup-inactive">

    </div>
  </div>
</div>
