<div class="container">
  <div class="container-login">
    <div class="container-login-active">
      <h1>Sign in to find flatmates</h1>
      <nav class="nav">
        <ul class="nav-apps">
          <li><button><img src="../../assets/facebook.jpg"></button></li>
          <li><button><img src="../../assets/google.jpg"></button></li>
        </ul>
      </nav>
      <div>Or connect through google</div>
      <div class="fields">
        <div class="fields-input">
          <input placeholder="abc@xyz.com" type="text" class="fields-input-box">
          <span class="fa fa-fw fal fa-envelope fields-input-eye"></span>
        </div>
        <div class="fields-input">
          <input id="sighInPassword" placeholder="password" type="password" class="fields-input-box">
          <span id="eyeIcon" class="fa fa-fw fa-eye fields-input-eye" (click)="togglePasswordType()"></span>
        </div>
        <div>
          <a>Forgot your pasword</a>
        </div>
        <div class="">
          <button>Login</button>
        </div>
      </div>
      </div>
    <div class="container-login-inactive">

    </div>
  </div>
  <div class="container-signup">
    <div class="conatiner-signup-active">

    </div>
    <div class="container-signup-inactive">

    </div>
  </div>
</div>
