.nav {

  margin-left: 35%;

  &-apps {

    display: flex;

    li {
      width: 10%;
      list-style-type: none;
      margin: 5px;
    }

    button {
      outline: none;
      border: 0;
      padding: 0;
      background-color: white;
    }

    img {
      width: 100%;
    }
  }
}

.container {

  display: flex;
  margin-top: 6%;

  &-login {
    display: flex;
    text-align: center;
    width: 40%;
  }
  &-signup {
    width: 60%;
  }
}

.input-div {
  display: -ms-inline-grid;
}

.fields {

  &-input {

    margin: 10px;
    background: #74c69d;
    border: 1px transparent;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    
    &-box {
      background: #74c69d;
      outline: none;
      padding: 10px;
      border: none;
    }

    &-eye {
      margin-left: 10%;
      color: darkgreen;
    }
  }
}